
body {
  color: rgb(0, 0, 82);
  background-color: #dae7f0;
}

#mainphoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
}

#icon {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


h1 {
  padding: 10px;
  text-align: center;
  background: #706a8b;
  color: white;
  font-size: 60px;
  font-family: Arial;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #899eff transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/* tablesort css from https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #6578b6;
  color: white;
}

/* table css assitance from w3 schools */

h2 {
  text-align: center;
}

#personalinfo {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form {
  display: table;
}

#piclink {
  text-align: center;
}


